<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.village.revive.mapper.UserMapper">
    
    <!-- 自定义的复杂查询 -->
    <select id="selectByRoleAndStatus" resultType="com.village.revive.entity.User">
        SELECT * FROM users 
        WHERE role = #{role} 
        AND enabled = #{enabled}
        ORDER BY created_at DESC
    </select>
    
</mapper> 